[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

requests = "*"
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
